body{
	font-family: helvetica;
	color: grey;
	background-color: black;

}

div.container {
	width: 100%;
	border: 1px solid white;
}

header{
	text-align: center;
	border-bottom: 1px solid white;
	padding: 4px;
}

footer{
	border-top: 1px solid white;
	text-align: center;
}

nav{
	float: left;
	max-width: 20%;
	min-width: 10%;
	padding: 4px;
}

article{
	overflow: hidden;
	left-margin: 240px;
	padding-left: 100px;
	padding-right: 100px;
	border-left: 1px solid white;
}

a{
	color: #4D4DFF;
}

#headerlink{
	color: grey;
}

.code{
	font-family: lucida;
	padding-left: 30px;
}
